
<div class="header">
    <input class="search-bar" type="text" placeholder="Search for song, artist, etc...">
    <div class="user-bar">
        <a class="user-action">⚙️</a>
        <a class="user-action" >🔔</a>
        <div class="dropdown">
            <img src="https://cdn3.iconfinder.com/data/icons/education-210/49/95-512.png" class="profile-picture">
            <div  class="dropdown-content">
                <div class="wrapper">
                    <div class="drow-down-item">
                        <a href="#">Profile</a>
                    </div>
                </div>
                <div class="separator"></div>
                <div class="wrapper">
                    <div class="drow-down-item">
                        <a href="#">My Songs</a>
                    </div>  
                </div>
                <div class="wrapper">
                    <div class="drow-down-item">
                        <a href="#">Exit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>        
</div>