.header {
    position: fixed;
    inset: 0 0 60px 250px;
    padding: 10px 20px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar {
    width: 600px;
    border: none;
}

.user-bar {
    display: flex;
    align-items: center;
    gap: 30px;
}

.profile-picture {
    height: 40px;
    border-radius: 100%;
    cursor: pointer;
    object-fit: cover;
}