<div class="drop-down-container" #dropDown>
    <div  class="drop-down-content">
        <div class="wrapper">
            <div class="drow-down-item">
                <a>Add to queue</a>
            </div>
        </div>
        <div class="wrapper">
            <div class="drow-down-item">
                <a>Save to liked Songs</a>
            </div>
        </div>
        <div class="separator"></div>
        <div class="wrapper">
            <div (click)="removeFromPlaylist()" class="drow-down-item" #removeButton>
                <a>Remove from this playlist</a>
            </div>
        </div>
        <div class="wrapper slider-container">
            <div class="drow-down-item">
                <a>Add to playlist</a>
                <svg class="slider__svg" role="img" height="16" width="16" viewBox="0 0 16 16"><path d="M14 10L8 4l-6 6h12z"></path></svg>
            </div>
            
            <div class="slider">
                <ul class="slider__content">
                    <div (click)="createPlaylistWithSong()" class="drow-down-item" #createButton>
                        <a>Add to new playlist</a>
                    </div>
                    <div *ngIf="playlists" class="separator"></div>
                    <div *ngFor="let playlist of playlists">
                        <div (click)="addToPlaylist(playlist.id.toString())" class="drow-down-item"  #addButton>
                            <a>{{ playlist.title }}</a>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>