<div class="drop-down-container" #dropDown>
    <div  class="drop-down-content">
        <div class="wrapper">
            <div class="drow-down-item">
                <a>Add to queue</a>
            </div>
        </div>
        <div class="wrapper">
            <div class="drow-down-item">
                <a>Save to liked Songs</a>
            </div>
        </div>
        <div class="separator"></div>
        <div class="wrapper">
            <div (click)="removeFromPlaylist()" class="drow-down-item" #removeButton>
                <a>Remove from this playlist</a>
            </div>
        </div>
        <div class="wrapper">
            <div class="drow-down-item">
                <a>Add to playlist</a>
            </div>
        </div>
    </div>
</div>