<div class="playlist-container" *ngIf="playlist && (playlist.id.toString() === playlistId)">
    <div class="playlist-info">
        <div routerLink="edit" class="img-container">
            <img class="img" [src]="playlist.imageUrl">
                <div class="upload-container">
                    <input class="img-input" (change)="passImage($event)" accept="image/.jpg, image/.jpeg, image/.png" type="file">
                    <button>
                        <div class="icon">
                            <svg role="img" height="48" width="48" aria-hidden="true" viewBox="0 0 48 48" class="Svg-sc-1bi12j5-0 gSLhUO"><path d="M33.402 3.006L8.852 31.751l-2.337 12.61 12.09-4.281 24.552-28.746-9.755-8.328zM9.112 41.32l1.543-8.327 6.44 5.5-7.983 2.827zm9.418-4.231l-6.712-5.732L33.625 5.825l6.711 5.731L18.53 37.089z"></path></svg>
                            <span>Choose photo</span>
                        </div>
                    </button>
                </div>
        </div>
        <div class="credentials">
            <div class="playlist-title" style="cursor: pointer;" routerLink="edit">{{playlist.title}}</div>
            <div class="playlist-information">
                <div class="creator">{{playlist.creatorName}}</div>
                <div class="separator"></div>
                <div class="description">{{playlist.releaseYear}}</div>
                <div class="separator"></div>
                <div class="songs-count">{{playlist.songCount}} songs</div>
            </div>
        </div>
    </div>
    <div class="controls">
        <button class="action-btn round" (click)="playOrPauseAlbum()">
            <i class="fas fa-play"[ngClass]="{
                'fa-play' : (!this.isPlaying || this.loadedPlaylistId !== this.playlistId),
                'fa-pause': (this.isPlaying && this.loadedPlaylistId === this.playlistId)
            }">
            </i>
        </button>
        <svg (click)="toggle()" role="img" height="32" width="32" viewBox="0 0 32 32" class="svg" #playlistDropDownButton><path d="M5.998 13.999A2 2 0 105.999 18a2 2 0 00-.001-4zm10.001 0A2 2 0 1016 18a2 2 0 000-4zm10.001 0A2 2 0 1026.001 18 2 2 0 0026 14z"></path></svg>
        <app-playlist-drop-down *ngIf="this.isPlaylistDropDownShowing" [playlistId]="this.playlistId" #playlistDropDownElement></app-playlist-drop-down>        
    </div>
    <div class="table">
        <div class="table-heading">
            <div class="table-col-group">
                <div class="table-col">#</div>
                <div class="table-col">Title</div>
            </div>
            <div class="table-col-group">
                <div class="table-col time">Time</div>
                <svg role="img" height="32" width="32" viewBox="0 0 32 32" class="svg"><path d="M5.998 13.999A2 2 0 105.999 18a2 2 0 00-.001-4zm10.001 0A2 2 0 1016 18a2 2 0 000-4zm10.001 0A2 2 0 1026.001 18 2 2 0 0026 14z"></path></svg>
            </div>
        </div>

        <div *ngFor="let song of playlist.songs" class="table-row" aria-selected="false"
         [ngClass]="{'active' : (this.loadedSongId === song.id.toString() && this.playlistId === this.loadedPlaylistId)}">
            <div class="table-col-group">
                <div class="table-col song-index" 
                [ngClass]="{'hidden' : ((this.loadedSongId === song.id.toString()) && this.isPlaying && this.playlistId === this.loadedPlaylistId)}">{{song.index}}</div>
                <img class="gif" *ngIf="((this.loadedSongId === song.id.toString()) && this.isPlaying && this.playlistId === this.loadedPlaylistId)" src="https://open.scdn.co/cdn/images/equaliser-animated-green.f93a2ef4.gif">
                <i class="fas none" (click)="playOrPauseSong(song.id)" [ngClass]="{
                    'fa-play' : ((this.loadedSongId !== song.id.toString()) || ((this.loadedSongId === song.id.toString()) && !this.isPlaying && this.playlistId === this.loadedPlaylistId) || this.playlistId !== this.loadedPlaylistId),
                    'fa-pause': ((this.loadedSongId === song.id.toString()) && this.isPlaying && this.playlistId === this.loadedPlaylistId)
                }">
                </i>
                <img class="img img-small" [src]="song.imageUrl">
                <div class="table-col song-info">
                    <div class="song-title">{{song.title}}</div>
                    <div class="song-author">{{song.userName}}</div>
                </div>
            </div>
            <div class="table-col-group">
                <div class="table-col time">{{song.totalTime}}</div>
                <svg role="img" height="32" width="32" viewBox="0 0 32 32" class="svg"><path d="M5.998 13.999A2 2 0 105.999 18a2 2 0 00-.001-4zm10.001 0A2 2 0 1016 18a2 2 0 000-4zm10.001 0A2 2 0 1026.001 18 2 2 0 0026 14z"></path></svg>
            </div>
        </div>
    </div>
</div>

<!-- <app-playlist-edit *ngIf="true"></app-playlist-edit> -->
<router-outlet></router-outlet>
