<div *ngIf="song != null">
    <div class="music-player-container">
        <div class="music-player-cointainer-content">
    
            <div class="navigation">
                <button id="prev" class="action-btn">
                    <i class="fas fa-backward"></i>
                </button>
                <button (click)="playOrPauseSong()" id="play" class="action-btn action-btn-round">
                    <i class="fas fa-play"></i>
                </button>
                <button id="next" class="action-btn">
                    <i class="fas fa-forward"></i>
                </button>
            </div>
    
            <div class="sound-control-container">
                <div class="time-container">
                    <div class="current-time">0:00</div>
                    <div class="progress-container">
                        <div class="custom-progress-bar"></div>
                    </div>
                    <div class="total-time">0:00</div>
                </div>
        
                <div class="volume-container">
                    <i class="fas fa-volume-up"></i>
                    <div class="volume-bar-slider">
                        <div class="volume-bar-container">
                            <div class="volume-bar"></div>
                        </div>
                    </div>
                </div>
            </div>
    
            <ng-template [ngIf]="song != null">
                <audio id="audio" alt="music" *ngIf="song.trustedAudioFile">
                    <source [src]="song.trustedAudioFile">
                </audio>
            </ng-template>
    
            <div class="music-info">
                <div class="img-container">
                    <img id="cover" src="https://f4.bcbits.com/img/a4139357031_10.jpg" alt="music-cover">
                </div>
                <div class="credentials">
                    <h5 id="title">{{ song.title }}</h5>
                    <a id="username"> {{ song.userName }}</a>
                </div>
            </div>
    
        </div>
    </div>
</div>