.navigation {
    position: fixed;
    height: 100%;
    width: 250px;
    padding-top: 20px;
    justify-content: left;
    background-color: rgb(245, 245, 245);
}

.title {
    margin-left: 16%;
    margin-bottom: 20%;
    color: green;
    font-size: x-large;
}

ul,
ul li,
ul ul li {
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

.links {
    display: flex;
    flex-direction: column;

}

.link {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 2.8rem;
    margin: 0.1rem 0;
    cursor: pointer;
}

.link:hover {
    border-left: solid 0.3vw green;
    background-image: linear-gradient(to right, #9ed8a8 , rgb(233, 233, 233), rgb(233, 233, 233), rgb(233, 233, 233), rgb(233, 233, 233));
    background-color: lightgreen;
    transition: all ease-in-out 250ms;
}

.svg {
    width: 20px;
    height: 20px;
    margin-right: 5%;
    margin-left: 16%;
    fill: #999;
}

.link:hover .svg {
    fill: #00a81c;
}

.link a {
    font-size: 14px;
    color: #999;
    text-decoration: none;
    text-transform: uppercase;
}

.link:hover a {
    color: #189a2e;
}

.playlist.bold {
    font-weight: bold;
    cursor: pointer;
    transition: all ease-in-out 2s;
}

.playlist {
    padding-left: 40px;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: default;
}

.playlist-content {
    display: flex;
}

.playlist.bold .playlist-content {
    transition: all ease-in-out 200ms;

}

.playlist a {
    font-size: 14px;
    color: #999;
    text-decoration: none;
    text-transform: uppercase;
}

.playlist:hover a.playlist-content {
    color: rgb(85, 85, 85);
}

.separator {
    border-top: 1px solid #CCC;
    width: 80%;
    margin: 6px auto;
}