<div>
    <div></div>
    <div class="song-top-chart">
        <div class="song-top-chart-title">Billboard Topchart</div>
        <div class="song-top-chart-content">
            <div class="song" *ngFor="let song of songs">
                <div class="song-tumbnail">
                    <div>
                        <img class="song-img" [src]="song.imageUrl">
                    </div>
                    <div class="play-button" (click)="LoadSong(song.id, null)">
                        <i class="fas fa-play"></i>
                    </div>
                </div>
                <div class="credentials">
                    <h5 class="song-title">{{ song.title }}</h5>
                    <div class="wrapper">
                        <a class="song-creator">{{ song.userName}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="song-most-popular">
    </div>
</div>

