<div class="drop-down-container" #dropDown>
    <div  class="drop-down-content">
        <div class="wrapper">
            <div class="drow-down-item">
                <a href="#">Add to queue</a>
            </div>
        </div>
        <div class="wrapper">
            <div class="drow-down-item">
                <a href="#">Remove from profile</a>
            </div>
        </div>
        <div class="separator"></div>
        <div class="wrapper">
            <div class="drow-down-item">
                <a href="#">Edit details</a>
            </div>  
        </div>
        <div class="wrapper">
            <div (click)="delete()" class="drow-down-item">
                <a>Delete</a>
            </div>  
        </div>
    </div>
</div>
